@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke-width: 3;
  }
  100% {
    fill: hsla(43, 83%, 93%, 1);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: top 37.5% left 37.5%;
  }
}

.XCard {
  .idle {
    animation: move 5s linear infinite;
    offset-path: rect(0% auto 100% auto);
  }

  .XCardD1 {
    background: deeppink;
  }

  .XCardD2 {
    background: deeppink;
  }

  .XCardD3 {
    background: deeppink;
  }

  .XCard1 {
    animation: gradientShift 4.2s linear infinite;
    background-size: 800% 800% !important;
    background: linear-gradient(
      135deg,
      #fcf4de,
      #efb8eb,
      #d66dee,
      #b039cb,
      #fcf4de,
      #fcf4de,
      #efb8eb,
      #d66dee,
      #b039cb,
      #fcf4de
    );
    /*background: linear-gradient(
      45deg,
      hsla(43, 83%, 93%, 1) 0%,
      hsla(305, 64%, 83%, 1) 50%,
      hsla(289, 79%, 68%, 1) 100%
    );*/
  }

  .XCard2 {
    animation: gradientShift 4.2s linear infinite;
    animation-delay: 0.5s;
    background-size: 800% 800% !important;
    background: linear-gradient(
      135deg,
      #439fea,
      #eca7b9,
      #c94461,
      #d9214b,
      #439fea,
      #439fea,
      #eca7b9,
      #c94461,
      #d9214b,
      #439fea
    );
  }

  .XCard3 {
    animation: gradientShift 4.2s linear infinite;
    animation-delay: 0.5s;
    background-size: 800% 800% !important;
    background: linear-gradient(
      135deg,
      #6e91b9,
      #bcc8dc,
      #6e91b9,
      #6e91b9,
      #bcc8dc,
      #6e91b9,
      #6e91b9,
      #bcc8dc,
      #6e91b9,
      #6e91b9,
      #bcc8dc,
      #6e91b9
    );
  }

  .ranking-order {
    --fs: 40px;
    background: linear-gradient(2deg, #ffffff00 0%, #ffffff 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: var(--fs);
    line-height: 35px;
    font-weight: bold;
  }

  svg {
    width: 20px;
    height: 35px;
  }

  svg {
    text {
      animation: stroke 5s infinite alternate;
      stroke-width: 3;
      font-size: var(--fs);
    }

    &.XTxt1 text {
      stroke: hsla(289, 79%, 68%, 1);
    }
  }
}
