@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke-width: 3;
  }
  100% {
    fill: hsla(43, 83%, 93%, 1);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.XCard {
  .idle {
    animation: move 5s linear infinite;
    offset-path: rect(0% auto 100% auto);
  }

  .XCardD1 {
    background: deeppink;
  }

  .XCardD2 {
    background: deeppink;
  }

  .XCardD3 {
    background: deeppink;
  }

  .XCard1 {
    background: linear-gradient(
      45deg,
      hsla(43, 83%, 93%, 1) 0%,
      hsla(305, 64%, 83%, 1) 50%,
      hsla(289, 79%, 68%, 1) 100%
    );
  }

  .XCard2 {
    background: linear-gradient(
      45deg,
      hsla(207, 80%, 59%, 1) 0%,
      hsla(344, 64%, 79%, 1) 50%,
      hsla(343, 93%, 69%, 1) 100%
    );
  }

  .XCard3 {
    background: linear-gradient(45deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  }

  .ranking-order {
    background: linear-gradient(2deg, #ffffff00 0%, #ffffff 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    line-height: 35px;
    width: 60px;
    font-weight: 600;
  }

  svg {
    width: 20px;
    height: 45px;
  }

  svg {
    text {
      animation: stroke 5s infinite alternate;
      stroke-width: 2;
      font-size: 35px;
    }

    &.XTxt1 text {
      stroke: hsla(289, 79%, 68%, 1);
    }

    &.XTxt2 text {
      stroke: hsla(343, 93%, 69%, 1);
    }

    &.XTxt3 text {
      stroke: hsla(218, 32%, 80%, 1);
    }
  }
}
