@import 'tailwindcss';

:root {
  --color-btn-base-hover-bg: #adadad26;
  --color-btn-base-active-bg: rgba(173, 173, 173, 0.25);
  --color-gold: oklch(0.9 0.2 95);
  --color-silver: oklch(0.95 0.01 250);
  --color-bronze: oklch(0.72 0.18 50);

  .os-scrollbar-handle {
    background-color: #6c6c6c;

    &:hover {
      background-color: #dcdcdc;
    }
  }
}

@theme {
  --color-dark: #0a0f2d;
  --color-dark-lighter: #0f1538;
  --color-gold: var(--color-gold);
  --color-silver: var(--color-silver);
  --color-bronze: var(--color-bronze);
  --breakpoint-xl: 78rem;
  --color-btn-base-hover-bg: var(--color-btn-base-hover-bg);
  --color-btn-base-active-bg: var(--color-btn-base-active-bg);
}
body {
  min-height: 100svh;
}

.sora-scrollbar {
  --opacity: 50px;

  &:not([at-none]) {
    &:not([at-start]):not([at-end]) {
      mask-image: linear-gradient(
        to bottom,
        transparent 0,
        transparent 1px,
        #000 var(--opacity),
        #000 calc(100% - var(--opacity)),
        transparent calc(100% - 1px),
        transparent 100%
      );
    }

    &[at-start] {
      mask-image: linear-gradient(to top, transparent 0, transparent 1px, #000 var(--opacity));
    }

    &[at-end] {
      mask-image: linear-gradient(to bottom, transparent 0, transparent 1px, #000 var(--opacity));
    }
  }
}

.mask-right {
  mask-image: linear-gradient(to left, transparent 0, transparent 0, #000 40px, #000 100%);
}

input {
  color: #fff;

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active,
  &:-webkit-autofill:hover,
  &:autofill {
    -webkit-box-shadow: inherit !important;
    background-color: transparent !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }
}

/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}*/
.icon {
  width: 24px;
  height: 24px;
}

.btn-base {
  @apply bg-gray-300/10 hover:bg-gray-300/25;
}

.XDialog .MuiDialog-container .MuiPaper-root {
  max-width: 450px !important;
  @apply mx-0 md:mx-8 w-[calc(100%-2rem)];
}

@keyframes spin-smooth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation-name: spin-smooth;
  animation-timing-function: linear; /* xoay đều */
  animation-iteration-count: infinite;
  transform-origin: center center; /* quay quanh tâm */
}

.CButton {
  &.xsm {
    height: 32px;
  }

  &.sm {
    height: 40px;
  }

  &.md {
    height: 44px;
  }

  &.lg {
    height: 48px;
  }
}

.ControlGroup {
  .ControlGroupItem:not(.ControlGroupItemFirst):not(.ControlGroupItemLast) {
    &,
    > div {
      border-radius: 0;
    }

    fieldset {
      border-radius: 0;
    }
  }

  .ControlGroupItemFirst {
    &,
    > div {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    fieldset {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .ControlGroupItemLast {
    &,
    > div {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

input + fieldset {
  transition: 0.2s;
}
